# Alliance logs parsing

Import some basic packages

In [1]:
from datetime import datetime
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

Also, we need a NMEA-parsing package called `pynmea2`. I modified the original pynmea2 package a bit so that it can match Alliance's logs.

To install "my version", run this command (in Anaconda prompt on Windows):
```bash
pip install git+https://github.com/IGPResearch/pynmea2.git --force-reinstall
```
If you have problems fetching it from GitHub, I can zip it up and put it on the FTP server or send it via email.

Once it's installed, import it:

In [2]:
import pynmea2

Select a date

In [3]:
date = datetime(2018, 2, 11)

In [4]:
fname = Path(f'/path/to/alliance/logs/{date:%Y%m%d}.log')

In [5]:
ggas = {'time': [], 'lon': [], 'lat': []}
hdts = []
with fname.open('r') as f:
    for line in f.readlines():
        try:
            msg = pynmea2.NMEASentence.parse(line)
            if isinstance(msg, pynmea2.types.talker.GGA):
                ggas['time'].append(datetime.combine(date, msg.timestamp))
                ggas['lon'].append(msg.longitude)
                ggas['lat'].append(msg.latitude)
            elif isinstance(msg, pynmea2.types.talker.HDT):
                hdts.append(msg)
        except pynmea2.ParseError:
            pass

In [6]:
gga_df = pd.DataFrame(data=ggas)

In [7]:
gga_df.head(10)

         lat        lon                time
0  65.684900 -18.075515 2018-02-11 00:00:00
1  65.684900 -18.075515 2018-02-11 00:00:01
2  65.684900 -18.075515 2018-02-11 00:00:02
3  65.684900 -18.075515 2018-02-11 00:00:03
4  65.684900 -18.075515 2018-02-11 00:00:04
5  65.684900 -18.075515 2018-02-11 00:00:05
6  65.684900 -18.075515 2018-02-11 00:00:06
7  65.684898 -18.075515 2018-02-11 00:00:07
8  65.684898 -18.075515 2018-02-11 00:00:08
9  65.684898 -18.075515 2018-02-11 00:00:09